doctype html
html(lang="en")
  head
    meta(charset="utf-8")
    meta(name="viewport", content="initial-scale=1.0, width=device-width")
    title Range slider
  body.demo
    .container
      .range-slider.js-range-slider(
        data-min="0",
        data-max="150",
        data-left-value="25",
        data-right-value="75",
        data-vertical="true"
      )

    
